

<div class="company-info m-5">
  <table class="table table-bordered">
    <tr>
      <th>会社名</th>
      <td>
        <p>KNテクノロジーズ</p>
      </td>
    </tr>
    <tr>
      <th>代表</th>
      <td><p>西川　健二</p></td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>
        <p>〒811-3114<br>
        福岡県古賀市舞の里４丁目１４番９号</p>
      </td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>080-8552-6587</td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>kenji.nishikawa_kntech@ymt.bbiq.jp</td>
    </tr>
    <tr>
      <th>設立</th>
      <td> 2017年 7月</td>
    </tr>
      <th>事業内容</th>
      <td>
        <p>- 真空関連機器/装置</p><br>
        <p>- 真空ポンプ/メンテナンス</p><br>
        <p>- 中古実験機器/装置</p><br>
        <p>- 熱物製測定装置/熱分析装置/赤外線加熱路</p><br>
        <p>- 蒸着材料/スパッタリング用ターゲット</p><br>
        <p>- 樹脂加工製品</p><br>
        <p>- 金属加工品</p><br>
        <p>- ガラス加工品</p><br>
        <p>- その他、実験用機器設計制作</p>
      </td>
    </tr>
  </table>
</div>